bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

msbuild.log
_ReSharper.*
packages/
artifacts/
node_modules/
obj/
bin/
.vs/
*.suo
*.user
project.lock.json

contentModel.xml
modules.xml
riderModule.iml
workspace.xml